<form action="/customer/create" method="post">
  <h2>Create a customer</h2>

  <input type="text" placeholder="Customer Code" name="customer_code"><br>
  <input type="text" placeholder="Customer Name" name="customer_name"><br>
  <input type="email" placeholder="Email" name="email"><br>
  <input type="text" placeholder="state" name="state"><br>
  <input type="submit" value="Create Customer">
</form>
